.header-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: bisque;
    height: 100px;
}

.header-container h1 {
    color: cornflowerblue;
    font-weight: bolder;
}

.nav-container {
    display: flex;
    gap: 20px;
}

.nav-container a {
    text-decoration: none;
    color: red;
    font-size: larger;
    font-weight: bolder;
}